body {
  font-family: sans-serif;
  background-color: #eee;
}

header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
 
}

#header-img {
  width: 350px;
}

/*navbar*/

#nav-bar {
  display: flex;
}

#navbar-list {
  display: flex;
}

li {
  list-style: none;
  padding: 10px 50px;
}

a {
  color: black;
  text-decoration: none;
}

/*email input*/

#form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
}

#email {
  width: 300px;
  height: 25px;
  margin: 0px 0px 15px 0px;
}

#submit {
  width: 150px;
  height: 35px;
  background-color:#f1c40f;
  font-weight: bolder;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 3px;
  border-style: hidden;
}

#submit:hover {
  background-color: orange;
  transition: 1s;
}

/*icons*/

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 20px;
}

.icon {
  padding: 20px;
}

/*video*/

#how-it-works {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 30px;
}

#video {
  width: 560px
}

/*products*/

#pruducts {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}

.box {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
  width: 300px;
  height: 300px;
  text-align: center;
  white-space: nowrap;
  
}


.btn {
  background-color:#f1c40f;
  width: 120px;
  height: 40px;
  border-style: hidden;
}

.btn:hover {
  background-color: orange;
  transition: 1s;
  cursor: pointer;
}

/*footer*/
footer{
  background-color: rgb(173, 171, 171);
  margin-top: 30px;
}
#footer ul{

  display: flex;
  flex-direction:row ;
  justify-content: end;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#footer span{
  display: flex;
  flex-direction:row ;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/*global*/

.flex {
  display: flex;
  flex-direction: row;
}